
    /* css reset */
    body {
        margin: 0px;
        padding: 0px;
        background: url(/bg.jpg);
        height: 3px;
        color: white;
    }

    .left {
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 25px;
        top: 27px;
    }

    .left img {
        width: 60px;
        cursor: pointer;
        filter: invert(100%);
        margin: 5px;
    }

    .left div {
        line-height: 25px;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
    }

    .mid {
        display: block;
        width: 46%;
        margin: 18px auto;
        /* border: 2px solid green; */
    }

    .right {
        position: absolute;
        right: 10px;
        top: 30px;
        display: inline-block;
        /* border: 2px solid yellow; */
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 21px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;
    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: gray;

    }

    .btn {
        margin: px 9px;
        background-color: black;
        color: white;
        padding: 3px 14px;
        border-radius: 10px;
        border: 2px solid rgb(150, 46, 46);
        font-size: 17px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(34, 31, 31);
    }

    .container {
        border: 2px solid rgb(108, 98, 98);
        margin: 106px 80px;
        padding: 19px;
        width: 31%;
        border-radius: 38px;
    }

    .form-group input {
        text-align: center;
        display: block;
        width: 365px;
        padding: -3px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 16px;
        border-radius: 65px;

    }

    .container h1 {
        text-align: center;
        width: 433px;
        font-size: 24px;
    }

    .container button {
        display: block;
        width: 364px;
        margin: 19px auto;
    }
